@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700;900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}


.logo {
    filter: invert(1);
    width: 40px;
    height: 40px
}

nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top:20px
}

.nav__links{
    list-style: none;
    display: flex;
}

.nav__link--anchor{
    text-decoration: none;
    color: black;

}

.nav__link{
    margin-right:15px;
    
}


.click {
    cursor: pointer;
    transition: all ease 300ms;
}

.click:hover{
    transform: scale(1.1);
}

.click:active{
    transform: scale(0.8);
}


.purple{
    color:#7645d9;
}

.landing__page{
    min-height: 100vh;
}

header{
    margin-left:200px;
     margin-top: 100px;


}

.header__para{
    max-width: 500px;
    margin-bottom:20px;
    margin-top:15px;

   
}

p{
    line-height: 1.5em;
    font-size: 24px;
}

.title {
    font-size: 100px;
    font-weight: 900;
}

.social__media{
    font-size: 24px;

    color: white;
    background-color: #7645d9;
    padding: 6px;
    border-radius: 50%;
    margin-right:5px;
    
}

.email{

    position: fixed;
    right: 250px;
bottom:70px;
    padding: 10px;
     border-radius: 50%;
   font-size: 40px;
   background-color:#1c1d25;
   color: white;
   z-index: 1;
 
    
    
}



.dark__mode .email {
    background-color: #7645d9;
    
}


.scroll__icon{
    width: 20px;
    height: 35px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
}


.scroll__icon:after{
    content: '';
    background-color: black;
    width: 4px;
    height: 6px;
    border-radius: 2px;
    animation: scroll 1000ms infinite alternate-reverse;
    
}

@keyframes scroll {
    0% {
        transform: translateY(3px);
    }

    100%{
        transform: translateY(-3px);
    }


}





/* PROJECTS SECTION */



.projects__title {
    text-align: center;
    font-size: 48px;
}


.row{
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.container{
    padding-top:45px;
}


.project__img{
    width: 1100px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: ease-in 100ms;

}

.project__wrapper:hover .project__img{
    transform: scale(1.1);
    filter: blur(5px);


}

.project__wrapper{
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    box-shadow: 0 20px 80px rgb(0,0,0,0.45);
  
}

.project__wrapper:hover .project__description{
    opacity: 1;
    transform: translateY(-50%);
}

.project__description{
    position:absolute;
    top: 50%;
    left: 90px;
    transform: translateY(100%);
    max-width: 700px;
    color: white;
    opacity: 0;
    transition: opacity 300ms, transform 450ms ease;
    
}


.project__list{
    list-style: none;
    margin-top:70px;
}

.project__description--para{
    font-size: 16px;
    margin: 16px 0px;
   
  
}

.project__description--title{
    font-size: 40px;
}

.project__description--sub-title{
    font-size: 16px;
    margin: 8px 0px;
}




.project__description--link{
    color: white;
}

.project__wrapper:hover .project__wrapper--bg{
    opacity: 0.7;
}

.project__wrapper--bg{
    position: absolute;
    width: 100%;
    background-color: #1c1d25;
    top: 0;
    bottom: 0;
    height: 100%;
    
    opacity: 0;
    transition: ease 300ms;
}


.project{
    padding-bottom: 100px;
}


.logo__footer{
    filter: invert(0);
    width: 70px;
    
}

.dark__mode .logo{
    filter: invert(0);
}


.footer__logo{
    display: flex;
    justify-content: center;
    align-items: center;
   

}
footer{
    background-color: #242424;
    padding: 100px;
}

.footer__links{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin-top:40px;
    
}

.footer__link{
    text-decoration: none;
    color: white;

    font-size: 16px;
   
    
}

.footer__copyright{
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 32px;
    font-weight: 200;
}

.footer__row{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}


.link__hover-effect{
    position: relative;
    
}

.link__hover-effect::after{
    position: absolute;
    content: '';
    height: 3px;
    right: 0;
    width: 0%;
    bottom: -3px;
   
    transition: 300ms ease all;
}

.link__hover-effect:hover:after{
    width: 100%;
    left: 0;;

}


.link__hover-effect--white{
    position:relative;

}


.link__hover-effect::after{
    background-color: #242424;
}

.link__hover-effect--white:after{
    background-color: white;
}






/*MODAL*/




.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    max-width: 1100px;
   
    height: 700px;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    visibility: hidden;
    z-index: -1;
    transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
    
}
.modal__open .modal{
    z-index: 60;
    box-shadow: 0px 20px 80px rgb(0,0,0,0.55);
    visibility: visible;

}

.modal__open .modal__about{
    transform: translateX(0%);
}

.modal__half{
    width: 50%;
    padding: 40px 72px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
}

.modal__about{
    background-color:rgb(245, 245, 245);
    transform: translate(-110%);
    transition: all ease 300ms;

}

.modal__contact{
    background-color: #242424;
    color: white;
    position: relative;
    transform: translate(110%);
    transition: all ease 300ms;
    
}

.modal__open .modal__contact {
    transform: translate(0%);
}

.moda__contact--para{
    font-size: 16px;

}

.modal__contact--title{
    font-size: 26px;
    margin-bottom: 12px;

}

.modal__contact--sub-title{
    font-size: 14px;
    margin-bottom: 24px;
}



.language__img{
    width: 69.5px;
    height: 69.5px;
    position: relative;
}

.language__image{
    position: relative;
}

.languages__wrapper{
    display: flex;
    justify-content: center;
  
    flex-wrap: wrap;
    margin-top: 20px;
    position: relative;
    
}

.language{
    padding: 16px;
    position: relative;
    margin-bottom: 20px;
    
}


.language__name{
    position: absolute;
    bottom: -10px;
    left: 50%;
  transform: translateX(-50%);
  opacity: 0;
    
    transition: all ease 300ms;
}

.language:hover .language__name{
  opacity: 1;
  

  
   
}

.language__img{
    transition: all ease-in 200ms;
}

.language:hover .language__img{
    transform: scale(.8);
    filter: brightness(50%);

}

.modal__contact--title{
    font-size: 26px;

}

.modal__contact-sub--title{
    font-size: 16px;
    margin-top:8px;
    margin-bottom: 16px;

}
.contact__form{
    margin-top:20px;

}

.item__label{
    font-size: 14px;
    
}

.form__items{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.item__input{
    
    
    background-color: #242424;
    border-top: none ;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #c0c4cc;
    color: white;
    height: 40px;
    outline: none;
    transition: all 300ms ease;
    

}

.item__input:hover{
    border-bottom: #7645d9 2px solid;
    outline: none;
}

.textarea__input:hover{
    border-bottom: #7645d9 2px solid;
    outline: none;
}


.textarea__input{
    
    
    background-color: #242424;
    border-top: none ;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #c0c4cc;
    color: white;
    height: 90px;
    outline: none;

}


.submit__button{
    margin-top:16px;
   padding: 14px 28px;
   font-size: 20px;
   color: white;
   background-color: #7645d9;
   border: none;
   transition: 300ms all ease;
   cursor: pointer;
}


.submit__button:hover{
    background-color: #242424;
    border: 1px solid #c0c4cc;
    color: white;
}

.submit__button:active{
    transform: scale(0.8); }


    .item__label{
        margin-bottom: 5px;
    }

    

    .modal__overlay{
        position: absolute;
        width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  display: none;
    justify-content: center;
    align-items: center;

   z-index: -1;

    }


.modal__overlay--loading{
   
    background-color: #7645d9;
    
    font-size: 80px;
   
}

.modal__overlay--visible {
    z-index: 1;
    display: flex;
}




.fa-spinner {
    animation: loading 750ms infinite ;

}

@keyframes loading {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}



.modal__overlay--success{
    
    background-color: rgb(80, 219, 80);
  
    
    
  
    
}

.success__title{
    width: 100%;
    max-width: 450px;
    font-size: 35px;
    text-align: center;
  
    
}

.modal__exit{
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 36px;
    z-index: 100;
}


nav, .scroll__icon, header{
    opacity: 1;
    visibility: visible;
    transition: all ease 600ms;
}


.modal__open nav, .modal__open .scroll__icon, .modal__open header{
    opacity: 0;
    visibility: hidden;
}

.dark__mode .nav__link--anchor,
.dark__mode .title,
.dark__mode .header__para,
.dark__mode .projects__title{

    color: white

    
}


.dark__mode .container{
color: #242424;
}
.dark__mode section {
    background-color: #242424;
}

section{
    transition: all 300ms ease;
}
.dark__mode .scroll__icon {
    border-color: white;
    
}

.dark__mode .scroll__icon:after {
    background-color: white;
}